# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.pkl

# Node / Next
node_modules/
.next/
out/
dist/
*.tsbuildinfo
next-env.d.ts.cache

# Editors
.vscode/
.idea/
.DS_Store

# Logs
npm-debug.log*
yarn-error.log
*.log

# Local env
.env
.env.local
.env.*.local
